.wrapper {
    border: 1px solid darkslategrey;
    border-radius: 10px;
    width: 300px;
}

.wrapper:hover {
    cursor: pointer;
    border: 1px solid rgb(159, 159, 159);
}

.header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    padding-bottom: 5px;
    background-color: rgb(128, 148, 151);
    font-size: 16px;

}

.headerImage {
    height: 30px;
}

.bottom {
    background-color:rgb(191, 200, 204);
    padding: 10px;
    height: 210px;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px dashed rgb(103, 103, 103);
}

.image {
    max-height: 120px;
}

.title {
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;

    padding-top: 10px;
    padding-bottom: 5px;
}

.subtitle {
    font-size: 13px;
}