.header {
    font-weight: bold;
    font-size: 48px;
    text-decoration: underline;
}

.wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.textPanel {
    font-size: 24px;
    max-width: 900px;
    padding: 20px;
    border: 2px dashed black;
    margin-left: 5px;
    margin-right: 5px;
}

.image {
    max-width: 360px;
}

.youtube {
    max-width: 500px;
}